<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1, minimum-scale=1.0, maximum-scale=1, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta content="email=no" name="format-detection" />
    <link type="text/css" rel="stylesheet" href="css/style.css?ver=20161006" />
    <title>君诚律盟</title>
</head>

<body id="page-index">
    <div class="img-auto">
        <img src="http://juncheng.oss-cn-shanghai.aliyuncs.com/images/icon/home-banner.png" />
    </div>
    <div class="title-home">
        <h3>律师团队</h3>
        <a href="laws.html" class="more">更多></a>
    </div>
    <div class="group mb-96 clearfix" v-cloak>
        <template v-for="item in items">
            <div class="group-item" v-on:click.prevent="go(item.UserID)">
                <img  class="group-face" 
                     v-bind:src="item.Face"/>
                <div class="group-text">
                    <ol>
                        <li class="name">
                            <span class="ol"></span>
                            {{item.Name}}
                        </li>
                        <li class="name mt-1 ">
                            <span class="ol"></span>
                            擅长领域
                        </li>
                        <template v-for="son in item.Skills.split(',')">
                            <li class="desc">
                                {{son}}
                            </li>
                        </template>
                      
                    </ol>
                </div>
            </div>
        </template>
    </div>




    <footer>
        <ul class="ui-nav clearfix">
            <li class="ui-nav-item active"><a href="index.html"><span class="ui-icon ui-icon-home"></span>
                <span class="ui-nav-item-text">君诚律盟</span></a></li>
            <li class="ui-nav-item">
                <a href="search.html">
                    <span class="ui-icon ui-icon-search"></span>
                    <span class="ui-nav-item-text">搜索</span>
                </a>
            </li>
            <li class="ui-nav-item">
                <a href="find.html">
                    <span class="ui-icon ui-icon-find">
                    </span><span class="ui-nav-item-text">发现</span>
                </a>
            </li>
            <li class="ui-nav-item">
                <a href="my.html">
                    <span class="ui-icon ui-icon-user"></span>
                    <span class="ui-nav-item-text">我的</span>
                </a>
            </li>
        </ul>
    </footer>
    



    <script src="//cdn.bootcss.com/jquery/2.2.4/jquery.min.js"></script>
    <script src="js/core.js"></script>
    <script src="//cdn.bootcss.com/vue/1.0.26/vue.min.js"></script>
    <script src="js/page/index.js"></script>
</body>

</html>