<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <sectionGroup name="Valon">
      <section name="globalSettings" type="Valon.Framework.DataAccess.Configuration.GlobalSettingsSection, Valon.Framework.DataAccess" />
      <section name="dataAccessSettings" type="Valon.Framework.DataAccess.Configuration.DataAccessManagerSection, Valon.Framework.DataAccess" />
    </sectionGroup>
  </configSections>
  <Valon>
    <globalSettings filePath="C:\ValonFrameworkConfig\Framework\GlobalSettings.config" />
    <dataAccessSettings DataCommandFile="bin\Configuration\DbCommandFiles.config" />
  </Valon>
  <appSettings>

    <add key="ServiceBrokerConfigPath" value="Configuration\" />
    <add key="XmlCacheConfigPath" value="Configuration\" />

    <add key="sms_url" value="http://gw.api.taobao.com/router/rest" />
    <add key="sms_oss" value="cn-shanghai" />
    <add key="sms_appkey" value="LTAIm5iyO5vcBpCQ" />
    <add key="sms_secret" value="bgspm6ZilAfJ4Y4JuGhEoklxq4cmft" />
    <add key="sms_sign" value="君诚律盟" />
    <add key="queryString_key" value="tcLvy0u8df~+#WnxKb(Zs)o93a~puZc3" />

    <!--阿里云上传资料 配置-->

    <add key="aliyun_accessId" value="LTAIm5iyO5vcBpCQ" />
    <add key="aliyun_accessKey" value="bgspm6ZilAfJ4Y4JuGhEoklxq4cmft" />
    <add key="aliyun_endpoint" value="http://oss-cn-shanghai.aliyuncs.com" />
    <add key="aliyun_cdnUrl" value="http://juncheng.oss-cn-shanghai.aliyuncs.com/" />
    <add key="aliyun_bucketName" value="juncheng" />


    <add key="wxappid" value="wx849134a8eafffe22" />
    <add key="wxappsecret" value="f1a6a6c1d05d553144e379c1139ae93b" />
    <add key="mch_id" value="1383155602" />
    <add key="mch_key" value="D4vZUmcCtUTCkYNTWBkA2tltmZrUWhwU" />
    <add key="app_mch_key" value="4Laig3ZJwuGJ0zGumTmx3xrPazio9fIz" />
    <add key="domain" value="http://mango.webui.info/law/" />
    <add key="wxpayurl" value="https://api.mch.weixin.qq.com/pay/unifiedorder" />
    <add key="wx_auth_url" value="http://mango.webui.info/law/auth_center.ashx" />
    <add key="return_url" value="http://mango.webui.info/law/page/logic.html" />


    <add key="alipay_notify_url" value="http://mango.webui.info/law/pay/alipay/resultnotify.aspx" />
    <add key="alipay_notify_activity_url" value="http://mango.webui.info/law/pay/alipay/result_activity_notify.aspx" />
    <add key="wxpay_notify_url" value="http://mango.webui.info/mango/pay/wxpay/resultnotify.aspx" />
    <add key="wxpay_notify_h5_url" value="http://mango.webui.info/mango/pay/wxpay/mpnotify.aspx" />
    <add key="wxpay_notify_activity_url" value="http://mango.webui.info/mango/pay/wxpay/result_activity_notify.aspx" />

  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.6"/>
    <httpRuntime targetFramework="4.6"/>
    <httpModules>
    </httpModules>
  </system.web>


  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>