<?xml version="1.0" encoding="utf-8" ?>
<dataOperations xmlns="http://www.valondress.com/DataOperation">
  <!--获取文章列表，平台方管理-->
  <dataCommand name="Article_GetItems" database="lawyers" commandType="Text">
    <commandText>
      <![CDATA[
        DECLARE @SelectSql NVARCHAR(4000)
        DECLARE @CountSql NVARCHAR(4000)
        DECLARE @WhereSql NVARCHAR(2000)
	      --设置排序条件
        IF @SortField IS NULL OR LEN(@SortField)=0
		      BEGIN
			      SET @SortField = N'A.[ID]' 
			      SET @SortType = N'DESC' 
		      END
        --设置查询条件
        SET @WhereSql=N' WHERE A.[Status] = ''A'' '
        
        IF @ArtStatus > 0 
          SET @WhereSql+=N' AND A.[ArtStatus] = @ArtStatus '
          
        IF LEN(@Publisher) > 1 
          SET @WhereSql+=N' AND A.[InUser] like @Publisher '
        
        IF LEN(@Title) > 1 
          SET @WhereSql+=N' AND A.[Title] like @Title '
          
        IF @ArtType > 0
          SET @WhereSql+=N' AND A.[ArtType] = @ArtType '
          
        IF LEN(@StartDate) > 4
          SET @WhereSql+=N' AND A.[InDate] >= @StartDate '
       
        IF LEN(@EndDate) > 4
          SET @WhereSql+=N' AND A.[InDate] <= @EndDate '
         
        SET @SelectSql=N'
            SELECT TOP(@PageSize)
                           TT.RowId
					                ,TT.[ID]
                          ,TT.[GroupType]
                          ,TT.[ArtType]
                          ,TT.[Title]
                          ,TT.[Summary]
                          ,TT.[Cover]
                          ,TT.[PublisherID]
                          ,TT.[PublisherDate]
                          ,TT.[ArtStatus]
                          ,TT.[SortNo]
                          ,TT.[InDate]
	                        ,TT.[InUser]
          FROM(SELECT ROW_NUMBER() OVER(ORDER BY '+ @SortField +' '+ @SortType +') AS RowId
                          ,[ID]
                          ,[GroupType]
                          ,[ArtType]
                          ,[Title]
                          ,[Summary]
                          ,[Cover]
                          ,[PublisherID]
                          ,[PublisherDate]
                          ,[ArtStatus]
                          ,[SortNo]
                          ,[InDate]
	                        ,[InUser]
                      FROM [dbo].[T_Article] AS A WITH(NOLOCK)' + @WhereSql+ N') TT WHERE TT.RowId > @PageSize * @PageCurrent'
        
        SET @CountSql = N'SELECT @TotalCount=COUNT(1)  FROM [dbo].[T_Article] AS A WITH(NOLOCK) '+@WhereSql
        
        EXEC sp_executesql @SelectSql,
              N'@ArtStatus INT,@Publisher NVARCHAR(20),@Title NVARCHAR(50),@ArtType INT,
                @StartDate NVARCHAR(23),@EndDate NVARCHAR(23),
                @SortType NVARCHAR(50),
		            @SortField NVARCHAR(50),
		            @PageSize INT,
		            @PageCurrent INT',
                
                @ArtStatus,@Publisher,@Title,@ArtType,
                @StartDate,@EndDate,
		            @SortType,
		            @SortField,
		            @PageSize,
		            @PageCurrent
        EXEC sp_executesql @CountSql,
              N'@ArtStatus INT,@Publisher NVARCHAR(20),@Title NVARCHAR(50),@ArtType INT,
                @StartDate NVARCHAR(23),@EndDate NVARCHAR(23),
                @TotalCount INT OUTPUT',
                
                @ArtStatus,@Publisher,@Title,@ArtType,
                @StartDate,@EndDate,
                @TotalCount OUTPUT
			]]>
    </commandText>
    <parameters>
      <param name="@ArtStatus" dbType="Int32" />
      <param name="@Publisher" dbType="String" />
      <param name="@Title" dbType="String" />
      <param name="@ArtType" dbType="Int32" />
      <param name="@StartDate" dbType="String" />
      <param name="@EndDate" dbType="String" />

      <param name="@SortType" dbType="String" />
      <param name="@SortField" dbType="String"/>
      <param name="@PageSize" dbType="Int32" />
      <param name="@PageCurrent" dbType="Int32"/>
      <param name="@TotalCount" dbType="Int32" direction="Output"/>
    </parameters>
  </dataCommand>
  <!--获取新闻列表,h5展示-->
  <dataCommand name="Article_GetShowItems" database="lawyers" commandType="Text">
    <commandText>
      <![CDATA[
        WITH CTE1 AS 
          ( 
            SELECT 
            TOP 1000
	          A.ID,
	          A.ArtType,
	          A.Title,
	          A.Cover,
	          A.PublisherDate
	          FROM [dbo].[T_Article] AS A WITH(NOLOCK) 
	          WHERE A.ArtStatus =10 AND A.GroupType = 1
          )

          SELECT TOP @PageSize
	          A.ID,A.ArtType,A.Title,A.Cover,A.PublisherDate
          FROM CTE1 AS A WHERE ArtType = @ArtType1
          UNION 
          SELECT TOP @PageSize
	          A.ID,A.ArtType,A.Title,A.Cover,A.PublisherDate
          FROM CTE1 AS A WHERE ArtType = @ArtType2
          UNION
          SELECT TOP @PageSize
	          A.ID,A.ArtType,A.Title,A.Cover,A.PublisherDate
          FROM CTE1 AS A WHERE ArtType = @ArtType3
			]]>
    </commandText>
    <parameters>
      <param name="@ArtType1" dbType="Int32" />
      <param name="@ArtType2" dbType="Int32" />
      <param name="@ArtType3" dbType="Int32" />
    </parameters>
  </dataCommand>
  <!--获取新闻列表,h5查询-->
  <dataCommand name="Article_SearchKey" database="lawyers" commandType="Text">
    <commandText>
      <![CDATA[
        DECLARE @SelectSql NVARCHAR(4000)
        DECLARE @CountSql NVARCHAR(4000)
        DECLARE @WhereSql NVARCHAR(2000)
	      --设置排序条件
        IF @SortField IS NULL OR LEN(@SortField)=0
		      BEGIN
			      SET @SortField = N'A.[ID]' 
			      SET @SortType = N'DESC' 
		      END
        --设置查询条件
        SET @WhereSql=N' WHERE A.[Status] = ''A'' AND A.[ArtStatus] = 10 '
        
        IF LEN(@KeyWrod) > 0 
          SET @WhereSql+=N' AND (A.[Title] LIKE @KeyWrod OR A.[Contents] LIKE @KeyWrod )'
                  
         
        SET @SelectSql=N'
            SELECT TOP(@PageSize)
                           TT.RowId
					                ,TT.[ID]
                          ,TT.[GroupType]
                          ,TT.[ArtType]
                          ,TT.[Title]
                          ,TT.[Summary]
                          ,TT.[Cover]
          FROM(SELECT ROW_NUMBER() OVER(ORDER BY '+ @SortField +' '+ @SortType +') AS RowId
                          ,[ID]
                          ,[GroupType]
                          ,[ArtType]
                          ,[Title]
                          ,[Summary]
                          ,[Cover]
                      FROM [dbo].[T_Article] AS A WITH(NOLOCK)' + @WhereSql+ N') TT WHERE TT.RowId > @PageSize * @PageCurrent'
        
        
        EXEC sp_executesql @SelectSql,
              N'@KeyWrod NVARCHAR(50),
                @SortType NVARCHAR(50),
		            @SortField NVARCHAR(50),
		            @PageSize INT,
		            @PageCurrent INT',
                
                @KeyWrod,
		            @SortType,
		            @SortField,
		            @PageSize,
		            @PageCurrent
			]]>
    </commandText>
    <parameters>
      <param name="@KeyWrod" dbType="String" />

      <param name="@SortType" dbType="String" />
      <param name="@SortField" dbType="String"/>
      <param name="@PageSize" dbType="Int32" />
      <param name="@PageCurrent" dbType="Int32"/>
    </parameters>
  </dataCommand>
  <!--获取新闻列表,h5,每日普法-->
  <dataCommand name="Article_GetDailyNews" database="lawyers" commandType="Text">
    <commandText>
      <![CDATA[
        DECLARE @SelectSql NVARCHAR(4000)
        DECLARE @CountSql NVARCHAR(4000)
        DECLARE @WhereSql NVARCHAR(2000)
	      --设置排序条件
        IF @SortField IS NULL OR LEN(@SortField)=0
		      BEGIN
			      SET @SortField = N'A.[ID]' 
			      SET @SortType = N'DESC' 
		      END
        --设置查询条件
        SET @WhereSql=N' WHERE A.[Status] = ''A'' AND A.[ArtStatus] = 10 '
        

        IF @ArtType > 0
          SET @WhereSql+=N' AND A.[ArtType] = @ArtType '
          
        IF LEN(@StartDate) > 4
          SET @WhereSql+=N' AND A.[InDate] >= @StartDate '
       
        IF LEN(@EndDate) > 4
          SET @WhereSql+=N' AND A.[InDate] <= @EndDate '
         
        SET @SelectSql=N'
            SELECT TOP(@PageSize)
                           TT.RowId
					                ,TT.[ID]
                          ,TT.[ArtType]
                          ,TT.[Title]
                          ,TT.[Summary]
                          ,TT.[PublisherDate]
          FROM(SELECT ROW_NUMBER() OVER(ORDER BY '+ @SortField +' '+ @SortType +') AS RowId
                          ,[ID]
                          ,[ArtType]
                          ,[Title]
                          ,[Summary]
                          ,[PublisherDate]
                      FROM [dbo].[T_Article] AS A WITH(NOLOCK)' + @WhereSql+ N') TT WHERE TT.RowId > @PageSize * @PageCurrent'
        
        SET @CountSql = N'SELECT @TotalCount=COUNT(1)  FROM [dbo].[T_Article] AS A WITH(NOLOCK) '+@WhereSql
        
        EXEC sp_executesql @SelectSql,
              N'@ArtType INT,@StartDate NVARCHAR(23),@EndDate NVARCHAR(23),
                @SortType NVARCHAR(50),
		            @SortField NVARCHAR(50),
		            @PageSize INT,
		            @PageCurrent INT',
                
                @ArtType,@StartDate,@EndDate,
		            @SortType,
		            @SortField,
		            @PageSize,
		            @PageCurrent
        EXEC sp_executesql @CountSql,
              N'@ArtType INT,@StartDate NVARCHAR(23),@EndDate NVARCHAR(23),
                @TotalCount INT OUTPUT',
                
                @ArtType,@StartDate,@EndDate,
                @TotalCount OUTPUT
			]]>
    </commandText>
    <parameters>
      <param name="@ArtType" dbType="Int32" />
      <param name="@StartDate" dbType="String" />
      <param name="@EndDate" dbType="String" />

      <param name="@SortType" dbType="String" />
      <param name="@SortField" dbType="String"/>
      <param name="@PageSize" dbType="Int32" />
      <param name="@PageCurrent" dbType="Int32"/>
      <param name="@TotalCount" dbType="Int32" direction="Output"/>
    </parameters>
  </dataCommand>
  <!--添加文章-->
  <dataCommand name="Article_Add" database="lawyers" commandType="Text">
    <commandText>
      <![CDATA[
      
         SET XACT_ABORT on
            BEGIN TRAN

            DECLARE @ID INT =1000
            SELECT TOP 1 @ID=([ID]+1) FROM [dbo].[T_Article] AS A
            
          INSERT INTO [dbo].[T_Article]
               ([ID]
               ,[GroupType]
		           ,[ArtType]
               ,[Title]
               ,[Summary]
               ,[Cover]
               ,[Contents]
               ,[PublisherID]
               ,[PublisherDate]
               ,[ArtStatus]
               ,[Link]
               ,[SortNo]
               ,[Status]
               ,[InDate]
               ,[InUser]
               ,[EditDate]
               ,[EditUser])
         VALUES
               (@ID
               ,@GroupType
		           ,@ArtType
               ,@Title
               ,@Summary
               ,@Cover
               ,@Contents
               ,@PublisherID
               ,GETDATE()
               ,@ArtStatus
               ,@Link
               ,9999
               ,'A'
               ,GETDATE()
               ,@InUser
               ,GETDATE()
               ,@InUser)
               
        SELECT @ID AS Sysno
               
        COMMIT TRAN
                  
			]]>
    </commandText>
    <parameters>
      <param name="@GroupType" dbType="Int32" />
      <param name="@ArtType" dbType="Int32" />
      <param name="@Title" dbType="String" />
      <param name="@Summary" dbType="String" />
      <param name="@Cover" dbType="String" />
      <param name="@Contents" dbType="String" />
      <param name="@Link" dbType="String" />
      <param name="@PublisherID" dbType="Int32" />
      <param name="@ArtStatus" dbType="Int32" />
      <param name="@InUser" dbType="String" />
    </parameters>
  </dataCommand>
  <!--更新文章-->
  <dataCommand name="Article_Update" database="lawyers" commandType="Text">
    <commandText>
      <![CDATA[
        UPDATE [dbo].[T_Article]
           SET [GroupType] = @GroupType
              ,[ArtType] = @ArtType
              ,[Title] = @Title
              ,[Summary] = @Summary
              ,[Cover] = @Cover
              ,[Contents] = @Contents
              ,[Link] = @Link
              ,[EditDate] = GETDATE()
              ,[EditUser] = @EditUser
         WHERE [ID] = @ID
			]]>
    </commandText>
    <parameters>
      <param name="@GroupType" dbType="Int32" />
      <param name="@ArtType" dbType="Int32" />
      <param name="@Title" dbType="String" />
      <param name="@Summary" dbType="String" />
      <param name="@Cover" dbType="String" />
      <param name="@Contents" dbType="String" />
      <param name="@Link" dbType="String" />
      <param name="@EditUser" dbType="String" />
      <param name="@ID" dbType="Int32" />
    </parameters>
  </dataCommand>
  <!--添加文章和律师关联-->
  <dataCommand name="Article_SetLawyers" database="lawyers" commandType="Text">
    <commandText>
      <![CDATA[
        SET XACT_ABORT on
            BEGIN TRAN
            
              DELETE FROM [dbo].[T_Article_Lawyers_Mapping] WHERE [ArtID] = @ArtID
              
              @Lawyers
              
           COMMIT TRAN
			]]>
    </commandText>
    <parameters>
      <param name="@ArtID" dbType="Int32" />
      <param name="@Summary" dbType="String" />
    </parameters>
  </dataCommand>  
  <!--设置文章状态-->
  <dataCommand name="Article_SetStatus" database="lawyers" commandType="Text">
    <commandText>
      <![CDATA[
      IF @ArtStatus =10
      BEGIN
         UPDATE [dbo].[T_Article]
                 SET [PublisherDate] = GETDATE()
                    ,[ArtStatus] = @ArtStatus
                    ,[EditDate] = GETDATE()
                    ,[EditUser] = @EditUser
               WHERE [ID] = @ID
      END ELSE BEGIN
          UPDATE [dbo].[T_Article]
                 SET [ArtStatus] = @ArtStatus
                    ,[EditDate] = GETDATE()
                    ,[EditUser] = @EditUser
               WHERE [ID] = @ID
      END
          
			]]>
    </commandText>
    <parameters>
      <param name="@ID" dbType="Int32" />
      <param name="@EditUser" dbType="String" />
      <param name="@ArtStatus" dbType="Int32" />
    </parameters>
  </dataCommand>
  <!--设置文章排序-->
  <dataCommand name="Article_SetSortNo" database="lawyers" commandType="Text">
    <commandText>
      <![CDATA[

         UPDATE [dbo].[T_Article]
           SET [SortNo] = @SortNo
         WHERE [ID] = @ID
			]]>
    </commandText>
    <parameters>
      <param name="@SortNo" dbType="Int32"/>
      <param name="@ID" dbType="Int32"/>
    </parameters>

  </dataCommand>
  <!--后台获取文章详情-->
  <dataCommand name="Article_GetDetail" database="lawyers" commandType="Text">
    <commandText>
      <![CDATA[

           SELECT [ID]
            ,[GroupType]
            ,[ArtType]
            ,[Title]
            ,[Summary]
            ,[Cover]
            ,[Contents]
            ,[PublisherID]
            ,[PublisherDate]
            ,[ArtStatus]
            ,[Link]
            ,[SortNo]
            ,[Status]
            ,[InDate]
            ,[InUser]
            ,[EditDate]
            ,[EditUser]
        FROM [dbo].[T_Article] AS A WITH(NOLOCK)
        WHERE A.[ID]= @ID

        SELECT TOP 10 [Sysno]
            ,[ArtID]
            ,[LawyerID]
        FROM [dbo].[T_Article_Lawyers_Mapping]  AS A WITH(NOLOCK)
        WHERE A.[ArtID]= @ID
			]]>
    </commandText>
    <parameters>
      <param name="@ID" dbType="Int32"/>
    </parameters>

  </dataCommand>
  
</dataOperations>