<?xml version="1.0" encoding="utf-8" ?>
<dataOperations xmlns="http://www.valondress.com/DataOperation">

  <dataCommand name="Material_AddMaterial" database="lawyers" commandType="Text">
    <commandText>
      <![CDATA[
            INSERT INTO [dbo].[T_Material]
               ([Type]
               ,[Url]
               ,[InDate])
         VALUES
               (@Type
               ,@Url
               ,GETDATE())
			]]>
    </commandText>
    <parameters>
      <param name="@Type" dbType="Int32" />
      <param name="@Url" dbType="String" />
    </parameters>
  </dataCommand>

  <dataCommand name="Material_GetItems" database="lawyers" commandType="Text">
    <commandText>
      <![CDATA[
          IF @Type = 0 
          BEGIN
           SELECT TOP @PageSize [Sysno]
              ,[Type]
              ,[Url]
          FROM [dbo].[T_Material]  AS A WITH(NOLOCK)
          ORDER BY [Sysno] DESC
          END ELSE BEGIN
           SELECT TOP @PageSize [Sysno]
              ,[Type]
              ,[Url]
          FROM [dbo].[T_Material]  AS A WITH(NOLOCK)
          WHERE [Type] = @Type
          ORDER BY [Sysno] DESC
          END
			]]>
    </commandText>
    <parameters>
      <param name="@Type" dbType="Int32" />
    </parameters>
  </dataCommand>
  
</dataOperations>