<?xml version="1.0" encoding="utf-8" ?>
<dataOperations xmlns="http://www.valondress.com/DataOperation">
  <!--获取最新的短信-->
  <dataCommand name="Msg_GetNewestMsg" database="lawyers" commandType="Text">
    <commandText>
      <![CDATA[

      SELECT TOP 1 [MsgID]
            ,[MsgParam]
            ,[MsgStatus]
            ,[ExpireTime]
        FROM [dbo].[T_Msg] AS A WITH(NOLOCK)
        WHERE A.[Receiver] =  @Receiver
        ORDER BY  A.[MsgID] DESC
			]]>
    </commandText>
    <parameters>
      <param name="@Receiver" dbType="String" />
    </parameters>
  </dataCommand>
  <!--设置短信状态-->
  <dataCommand name="Msg_SetMsgStatus" database="lawyers" commandType="Text">
    <commandText>
      <![CDATA[

      UPDATE [dbo].[T_Msg]
               SET [MsgStatus] = @MsgStatus
                  ,[EditDate] = GETDATE()
                  ,[EditUser] = @EditUser
             WHERE MsgID= @MsgID
			]]>
    </commandText>
    <parameters>
      <param name="@MsgStatus" dbType="Int32" />
      <param name="@MsgID" dbType="Int32" />
      <param name="@EditUser" dbType="String" />
    </parameters>
  </dataCommand>
  <!--新增短信-->
  <dataCommand name="Msg_AddNewMsg" database="lawyers" commandType="Text">
    <commandText>
      <![CDATA[

          INSERT INTO [dbo].[T_Msg]
               ([Receiver]
               ,[MsgParam]
               ,[MsgType]
               ,[ExpireTime]
               ,[MsgStatus]
               ,[InDate]
               ,[InUser]
               ,[EditDate]
               ,[EditUser])
         VALUES
               (@Receiver
               ,@MsgParam
               ,@MsgType
               ,@ExpireTime
               ,@MsgStatus
               ,GETDATE()
               ,@InUser
               ,GETDATE()
               ,@InUser)
			]]>
    </commandText>
    <parameters>
      <param name="@Receiver" dbType="String" />
      <param name="@MsgParam" dbType="String" />
      <param name="@MsgType" dbType="Int32" />
      <param name="@ExpireTime" dbType="String" />
      <param name="@MsgStatus" dbType="Int32" />
      <param name="@InUser" dbType="String" />
    </parameters>
  </dataCommand>
  

</dataOperations>