<?xml version="1.0" encoding="utf-8" ?>
<dataCommandFiles xmlns="http://www.valondress.com/DbCommandFiles">

  <file name="Customer/DataCommand_Customer.config"		/>
  <file name="RoleRight/DataCommand_RoleRight.config"		/>
  <file name="Msg/DataCommand_Msg.config"		/>
  <file name="Consultation/DataCommand_Consultation.config"		/>
  <file name="Article/DataCommand_Article.config"		/>
  <file name="Material/DataCommand_Material.config"		/>
</dataCommandFiles>