<?xml version="1.0" encoding="utf-8" ?>
<dataOperations xmlns="http://www.valondress.com/DataOperation">

  <!--获取用户信息，平台方管理-->
  <dataCommand name="Customer_GetCustomers" database="lawyers" commandType="Text">
    <commandText>
      <![CDATA[
        DECLARE @SelectSql NVARCHAR(4000)
        DECLARE @CountSql NVARCHAR(4000)
        DECLARE @WhereSql NVARCHAR(2000)
	      --设置排序条件
        IF @SortField IS NULL OR LEN(@SortField)=0
		      BEGIN
			      SET @SortField = N'A.[UserID]' 
			      SET @SortType = N'DESC' 
		      END
        --设置查询条件
        SET @WhereSql=N' WHERE A.[Status] = ''A'' '
        
        IF @UserID > 0 
          SET @WhereSql+=N' AND A.[UserID] = @UserID '
          
        IF LEN(@NickName) > 1 
          SET @WhereSql+=N' AND A.[NickName] like @NickName '
        
        IF LEN(@Name) > 1 
          SET @WhereSql+=N' AND A.[Name] like @Name '
          
        IF LEN(@Mobile) > 0 
          SET @WhereSql+=N' AND A.[Mobile] = @Mobile '
          
        IF @CustomerType > 0
          SET @WhereSql+=N' AND A.[CustomerType] = @CustomerType '
          
        IF LEN(@RegStartDate) > 4
          SET @WhereSql+=N' AND A.[InDate] >= @RegStartDate '
       
        IF LEN(@RegEndDate) > 4
          SET @WhereSql+=N' AND A.[InDate] <= @RegEndDate '
          
        IF @AuditStatus > 0
          SET @WhereSql+=N' AND A.[AuditStatus] = @AuditStatus '
          
        SET @SelectSql=N'
            SELECT TOP(@PageSize)
                           TT.RowId
					                ,TT.[UserID]
                          ,TT.[Name]
                          ,TT.[NickName]
                          ,TT.[Face]
                          ,TT.[Sex]
                          ,TT.[BirthDay]
                          ,TT.[Mobile]
                          ,TT.[CustomerType]
                          ,TT.[AuditStatus]
                          ,TT.[InDate]
          FROM(SELECT ROW_NUMBER() OVER(ORDER BY '+ @SortField +' '+ @SortType +') AS RowId
                          ,[UserID]
                          ,[Name]
                          ,[NickName]
                          ,[Face]
                          ,[Sex]
                          ,[BirthDay]
                          ,[Mobile]
                          ,[CustomerType]
                          ,[AuditStatus]
                          ,[InDate]
                     FROM [dbo].[T_Customer] AS A WITH(NOLOCK)' + @WhereSql+ N') TT WHERE TT.RowId > @PageSize * @PageCurrent'
        
        SET @CountSql = N'SELECT @TotalCount=COUNT(1)  FROM [dbo].[T_Customer] AS A WITH(NOLOCK) '+@WhereSql
        
        EXEC sp_executesql @SelectSql,
              N'@UserID INT,@NickName NVARCHAR(50),@Name NVARCHAR(50),@Mobile NVARCHAR(20),@CustomerType INT,
                @RegStartDate NVARCHAR(23),@RegEndDate NVARCHAR(23),@AuditStatus INT,
                @SortType NVARCHAR(50),
		            @SortField NVARCHAR(50),
		            @PageSize INT,
		            @PageCurrent INT',
                
                @UserID,@NickName,@Name,@Mobile,@CustomerType,
                @RegStartDate,@RegEndDate,@AuditStatus,
		            @SortType,
		            @SortField,
		            @PageSize,
		            @PageCurrent
        EXEC sp_executesql @CountSql,
              N'@UserID INT,@NickName NVARCHAR(50),@Name NVARCHAR(50),@Mobile NVARCHAR(20),@CustomerType INT,
                @RegStartDate NVARCHAR(23),@RegEndDate NVARCHAR(23),@AuditStatus INT,
                @TotalCount INT OUTPUT',
                
                @UserID,@NickName,@Name,@Mobile,@CustomerType,
                @RegStartDate,@RegEndDate,@AuditStatus,
                @TotalCount OUTPUT
			]]>
    </commandText>
    <parameters>
      <param name="@UserID" dbType="Int32" />
      <param name="@NickName" dbType="String" />
      <param name="@Name" dbType="String" />
      <param name="@Mobile" dbType="String" />
      <param name="@CustomerType" dbType="Int32" />
      <param name="@RegStartDate" dbType="String" />
      <param name="@RegEndDate" dbType="String" />
      <param name="@AuditStatus" dbType="Int32" />

      <param name="@SortType" dbType="String" />
      <param name="@SortField" dbType="String"/>
      <param name="@PageSize" dbType="Int32" />
      <param name="@PageCurrent" dbType="Int32"/>
      <param name="@TotalCount" dbType="Int32" direction="Output"/>
    </parameters>
  </dataCommand>
  <!--获取用户信息，律师-->
  <dataCommand name="Customer_GetLawyers" database="lawyers" commandType="Text">
    <commandText>
      <![CDATA[
        DECLARE @SelectSql NVARCHAR(4000)
        DECLARE @CountSql NVARCHAR(4000)
        DECLARE @WhereSql NVARCHAR(2000)
	      --设置排序条件
        IF @SortField IS NULL OR LEN(@SortField)=0
		      BEGIN
			      SET @SortField = N'A.[UserID]' 
			      SET @SortType = N'DESC' 
		      END
        --设置查询条件
        SET @WhereSql=N' WHERE A.[Status] = ''A'' '
        
        IF @UserID > 0 
          SET @WhereSql+=N' AND A.[UserID] = @UserID '
          
        IF LEN(@NickName) > 1 
          SET @WhereSql+=N' AND A.[NickName] like @NickName '
        
        IF LEN(@Name) > 1 
          SET @WhereSql+=N' AND A.[Name] like @Name '
          
        IF LEN(@Mobile) > 0 
          SET @WhereSql+=N' AND A.[Mobile] = @Mobile '
          
        IF @CustomerType > 0
          SET @WhereSql+=N' AND A.[CustomerType] = @CustomerType '
         
        IF @AuditStatus > 0
          SET @WhereSql+=N' AND A.[AuditStatus] = @AuditStatus '
          
        SET @SelectSql=N'
            SELECT TOP(@PageSize)
                           TT.RowId
                           ,TT.[UserID]
                    ,TT.[Name]
                    ,TT.[NickName]
                    ,TT.[Face]
                    ,TT.[Sex]
                    ,TT.[BirthDay]
                    ,TT.[Mobile]
                    ,TT.[WexinNo]
                    ,TT.[WexinQrcode]
                    ,TT.[QQNo]
                    ,TT.[Email]
                    ,TT.[Address]
                    ,TT.[Job]
                    ,TT.[Company]
                    ,TT.[Signature]
                    ,TT.[CustomerType]
                    ,TT.[AuditStatus]
	                ,TT.[Skills]
	                ,TT.[SortNo]
          FROM(SELECT ROW_NUMBER() OVER(ORDER BY '+ @SortField +' '+ @SortType +') AS RowId,A.[UserID]
                    ,A.[Name]
                    ,A.[NickName]
                    ,A.[Face]
                    ,A.[Sex]
                    ,A.[BirthDay]
                    ,A.[Mobile]
                    ,A.[WexinNo]
                    ,A.[WexinQrcode]
                    ,A.[QQNo]
                    ,A.[Email]
                    ,A.[Address]
                    ,A.[Job]
                    ,A.[Company]
                    ,A.[Signature]
                    ,A.[CustomerType]
                    ,A.[AuditStatus]
	                ,B.[Skills]
	                ,B.[SortNo]
                FROM [dbo].[T_Customer] AS A WITH(NOLOCK) 
                LEFT JOIN [dbo].[T_Customer_Lawyers] AS B WITH(NOLOCK) ON A.UserID = B.UserID
  ' + @WhereSql+ N') TT WHERE TT.RowId > @PageSize * @PageCurrent'
        
        SET @CountSql = N'SELECT @TotalCount=COUNT(1)   FROM [dbo].[T_Customer] AS A WITH(NOLOCK) 
                LEFT JOIN [dbo].[T_Customer_Lawyers] AS B WITH(NOLOCK) ON A.UserID = B.UserID '+@WhereSql
        
        EXEC sp_executesql @SelectSql,
              N'@UserID INT,@NickName NVARCHAR(50),@Name NVARCHAR(50),@Mobile NVARCHAR(20),@CustomerType INT,@AuditStatus INT,
                @SortType NVARCHAR(50),
		            @SortField NVARCHAR(50),
		            @PageSize INT,
		            @PageCurrent INT',
                
                @UserID,@NickName,@Name,@Mobile,@CustomerType,@AuditStatus,
		            @SortType,
		            @SortField,
		            @PageSize,
		            @PageCurrent
        EXEC sp_executesql @CountSql,
              N'@UserID INT,@NickName NVARCHAR(50),@Name NVARCHAR(50),@Mobile NVARCHAR(20),@CustomerType INT,@AuditStatus INT,
                @TotalCount INT OUTPUT',
                
                @UserID,@NickName,@Name,@Mobile,@CustomerType,@AuditStatus,
                @TotalCount OUTPUT
			]]>
    </commandText>
    <parameters>
      <param name="@UserID" dbType="Int32" />
      <param name="@NickName" dbType="String" />
      <param name="@Name" dbType="String" />
      <param name="@Mobile" dbType="String" />
      <param name="@CustomerType" dbType="Int32" />
      <param name="@AuditStatus" dbType="Int32" />

      <param name="@SortType" dbType="String" />
      <param name="@SortField" dbType="String"/>
      <param name="@PageSize" dbType="Int32" />
      <param name="@PageCurrent" dbType="Int32"/>
      <param name="@TotalCount" dbType="Int32" direction="Output"/>
    </parameters>
  </dataCommand>
  <!--获取用户信息，律师h5-->
  <dataCommand name="Customer_GetShowLawyers" database="lawyers" commandType="Text">
    <commandText>
      <![CDATA[
        DECLARE @SelectSql NVARCHAR(4000)
        DECLARE @CountSql NVARCHAR(4000)
        DECLARE @WhereSql NVARCHAR(2000)
	      --设置排序条件
        IF @SortField IS NULL OR LEN(@SortField)=0
		      BEGIN
			      SET @SortField = N'B.[SortNo]' 
			      SET @SortType = N'ASC' 
		      END
        --设置查询条件
        SET @WhereSql=N' WHERE A.[Status] = ''A'' '
        
        IF @CustomerType > 0
          SET @WhereSql+=N' AND A.[CustomerType] = @CustomerType '
         
        IF @AuditStatus > 0
          SET @WhereSql+=N' AND A.[AuditStatus] = @AuditStatus '
          
        IF LEN(@Mobile) > 1
          SET @WhereSql+=N' AND A.[Mobile] = @Mobile '
          
        SET @SelectSql=N'
            SELECT TOP(@PageSize)
                           TT.RowId
                           ,TT.[UserID]
                            ,TT.[Name]
                            ,TT.[Face]
	                        ,TT.[Skills]
          FROM(SELECT ROW_NUMBER() OVER(ORDER BY '+ @SortField +' '+ @SortType +') AS RowId,A.[UserID]
                    ,A.[Name]
                    ,A.[Face]
	                  ,B.[Skills]
                FROM [dbo].[T_Customer] AS A WITH(NOLOCK) 
                LEFT JOIN [dbo].[T_Customer_Lawyers] AS B WITH(NOLOCK) ON A.UserID = B.UserID
  ' + @WhereSql+ N') TT WHERE TT.RowId > @PageSize * @PageCurrent'
        
        
        EXEC sp_executesql @SelectSql,
              N'@CustomerType INT,@AuditStatus INT,@Mobile NVARCHAR(20),
                @SortType NVARCHAR(50),
		            @SortField NVARCHAR(50),
		            @PageSize INT,
		            @PageCurrent INT',
                
                @CustomerType,@AuditStatus,@Mobile,
		            @SortType,
		            @SortField,
		            @PageSize,
		            @PageCurrent
			]]>
    </commandText>
    <parameters>
      <param name="@CustomerType" dbType="Int32" />
      <param name="@AuditStatus" dbType="Int32" />
      <param name="@Mobile" dbType="String" />

      <param name="@SortType" dbType="String" />
      <param name="@SortField" dbType="String"/>
      <param name="@PageSize" dbType="Int32" />
      <param name="@PageCurrent" dbType="Int32"/>
    </parameters>
  </dataCommand>
  <!--获取用户信息,关键字查询 h5-->
  <dataCommand name="Customer_SearchKey" database="lawyers" commandType="Text">
    <commandText>
      <![CDATA[
      
      IF LEN(@KeyWord) = 2 OR @KeyWord ='%推荐%'
      BEGIN
          SELECT TOP 3 A.[UserID]
                ,A.[Name]
                ,A.[Face]
	              ,B.[Skills]
	              ,B.[CaseSeries]
                ,B.[ArtID]
            FROM [dbo].[T_Customer] AS A WITH(NOLOCK)
            LEFT JOIN [dbo].[T_Customer_Lawyers] AS B WITH(NOLOCK) ON A.UserID = B.UserID
            WHERE A.[AuditStatus] =10 AND A.[CustomerType] = 2 AND B.[CaseSeries] IS NOT NULL 
            ORDER BY B.SortNo
      END ELSE BEGIN
         SELECT TOP 3 A.[UserID]
                ,A.[Name]
                ,A.[Face]
	              ,B.[Skills]
	              ,B.[CaseSeries]
                ,B.[ArtID]
            FROM [dbo].[T_Customer] AS A WITH(NOLOCK)
            LEFT JOIN [dbo].[T_Customer_Lawyers] AS B WITH(NOLOCK) ON A.UserID = B.UserID
            WHERE A.[AuditStatus] =10 AND A.[CustomerType] = 2 AND  A.[Name] like @KeyWord
      END
       
			]]>
    </commandText>
    <parameters>
      <param name="@KeyWord" dbType="String" />
    </parameters>
  </dataCommand>
  <!--获取用户详情信息-->
  <dataCommand name="Customer_GetCustomerById" database="lawyers" commandType="Text">
    <commandText>
      <![CDATA[

        SELECT A.[UserID]
              ,[Name]
              ,[NickName]
              ,[Face]
              ,[Sex]
              ,[BirthDay]
              ,[Mobile]
              ,[WexinNo]
              ,[WexinQrcode]
              ,[QQNo]
              ,[Email]
              ,[HomeTownCode]
              ,[HomeTown]
              ,[PCDCode]
              ,[PCDDesc]
              ,[Address]
              ,[Job]
              ,[Company]
              ,[Signature]
              ,[CustomerType]
	          ,B.[Skills]
	          ,B.[CaseSeries]
	          ,B.[Subscribe]
	          ,B.[Resume]
          FROM [dbo].[T_Customer] AS A WITH(NOLOCK)
          LEFT JOIN [dbo].[T_Customer_Lawyers] AS B WITH(NOLOCK) ON A.UserID = B.UserID
          WHERE A.UserID = @UserID
			]]>
    </commandText>
    <parameters>
      <param name="@UserID" dbType="Int32" />
    </parameters>
  </dataCommand>
  <!--获取用户登录信息by id-->
  <dataCommand name="Customer_GetUserById" database="lawyers" commandType="Text">
    <commandText>
      <![CDATA[
     SELECT A.[UserID]
                  ,A.[UserRoleID]
                  ,A.[UserStatus]
	                ,B.[AuditStatus]
	                ,B.[Name]
                  ,B.[NickName]
                  ,B.[Face]
                  ,B.[CustomerType]
                  ,B.[Mobile]
            FROM [dbo].[T_Login] AS A 
            JOIN [dbo].[T_Customer] AS B ON A.UserID =B.UserID
            WHERE A.[UserID] = @UserID 
			]]>
    </commandText>
    <parameters>
      <param name="@UserID" dbType="Int32" />
    </parameters>
  </dataCommand>
  <!--检查是否注册-->
  <dataCommand name="Customer_VerifyAccount" database="lawyers" commandType="Text">
    <commandText>
      <![CDATA[
        DECLARE @SelectSql NVARCHAR(4000)
        DECLARE @WhereSql NVARCHAR(2000)

        SET @WhereSql=N' WHERE A.[UserStatus] <>11 '
        
        IF LEN(@Account) > 0 
          SET @WhereSql+=N' AND A.[Account] = @Account '
          
        IF LEN(@QQAccount) > 0
          SET @WhereSql+=N' AND A.[QQAccount] = @QQAccount '
          
        IF LEN(@WechatAccount) > 0 
          SET @WhereSql+=N' AND A.[WechatAccount] = @WechatAccount '
          
        IF LEN(@WeiboAccount) > 0
          SET @WhereSql+=N' AND A.[WeiboAccount] = @WeiboAccount '
          
        SET @SelectSql=N' SELECT TOP 1 [UserID] FROM [dbo].[T_Login] AS A WITH(NOLOCK) ' + @WhereSql

        EXEC sp_executesql @SelectSql,
              N'@Account NVARCHAR(50),@QQAccount NVARCHAR(64),@WechatAccount NVARCHAR(64),@WeiboAccount NVARCHAR(64)',
                
                @Account,@QQAccount,@WechatAccount,@WeiboAccount

			]]>
    </commandText>
    <parameters>
      <param name="@Account" dbType="String" />
      <param name="@QQAccount" dbType="String" />
      <param name="@WechatAccount" dbType="String" />
      <param name="@WeiboAccount" dbType="String" />
    </parameters>
  </dataCommand>
  <!--根据手机号码密码登录-->
  <dataCommand name="Customer_LoginByAccount" database="lawyers" commandType="Text">
    <commandText>
      <![CDATA[
        SELECT A.[UserID]
              ,A.[UserRoleID]
              ,A.[UserStatus]
	            ,B.[AuditStatus]
	            ,B.[Name]
              ,B.[NickName]
              ,B.[Face]
              ,B.[CustomerType]
              ,B.[Mobile]
        FROM [dbo].[T_Login] AS A 
        JOIN [dbo].[T_Customer] AS B ON A.UserID =B.UserID
        WHERE A.[Account] = @Account AND A.[Password] = @Password
			]]>
    </commandText>
    <parameters>
      <param name="@Account" dbType="String" />
      <param name="@Password" dbType="String" />
    </parameters>
  </dataCommand>
  <!--手机号码登录-->
  <dataCommand name="Customer_LoginByMobile" database="lawyers" commandType="Text">
    <commandText>
      <![CDATA[
           SELECT A.[UserID]
              ,A.[UserRoleID]
              ,A.[UserStatus]
	            ,B.[AuditStatus]
	            ,B.[Name]
              ,B.[NickName]
              ,B.[Face]
              ,B.[CustomerType]
              ,B.[Mobile]
              ,B.[ClubID]
              ,B.[ClubName]
        FROM [dbo].[T_Login] AS A 
        JOIN [dbo].[T_Customer] AS B ON A.UserID =B.UserID
        WHERE A.Account = @Account
			]]>
    </commandText>
    <parameters>
      <param name="@Account" dbType="String" />
    </parameters>
  </dataCommand>
  <!--微信联合登录-->
  <dataCommand name="Customer_LoginByWechatAccount" database="lawyers" commandType="Text">
    <commandText>
      <![CDATA[
           SELECT A.[UserID]
              ,A.[UserRoleID]
              ,A.[UserStatus]
	            ,B.[AuditStatus]
	            ,B.[Name]
              ,B.[NickName]
              ,B.[Face]
              ,B.[CustomerType]
              ,B.[Mobile]
        FROM [dbo].[T_Login] AS A 
        JOIN [dbo].[T_Customer] AS B ON A.UserID =B.UserID
        WHERE A.WechatAccount = @WechatAccount
			]]>
    </commandText>
    <parameters>
      <param name="@WechatAccount" dbType="String" />
    </parameters>
  </dataCommand>
  <!--禁用、启用员工账号-->
  <dataCommand name="Customer_SetCustomerStatus" database="lawyers" commandType="Text">
    <commandText>
      <![CDATA[
          UPDATE [dbo].[T_Login]
             SET [UserStatus] = @UserStatus
           WHERE [UserID] = @UserID
          
          UPDATE [dbo].[T_Customer]
             SET [AuditStatus] = @UserStatus
           WHERE [UserID] = @UserID
			]]>
    </commandText>
    <parameters>
      <param name="@UserStatus" dbType="Int32"/>
      <param name="@UserID" dbType="String"/>
    </parameters>
  </dataCommand>
  <!--绑定第3方账号-->
  <dataCommand name="Customer_BindThirdPlatformAccount" database="lawyers" commandType="Text">
    <commandText>
      <![CDATA[
        UPDATE [dbo].[T_Login]
           SET @ThirdPlatformAccount = @BindAccount
         WHERE [UserID] = @UserID
			]]>
    </commandText>
    <parameters>
      <param name="@UserID" dbType="Int32"/>
      <param name="@BindAccount" dbType="String"/>
    </parameters>
  </dataCommand>
  <!--修改用户信息-->
  <dataCommand name="Customer_ModifyCustomerByFields" database="lawyers" commandType="Text">
    <commandText>
      <![CDATA[
         UPDATE [dbo].[T_Customer]
           SET @FieldNameAndFieldValue
         WHERE [UserID] = @UserID
			]]>
    </commandText>
    <parameters>
      <param name="@UserID" dbType="Int32"/>
    </parameters>
  </dataCommand>
  <!--获取领域-->
  <dataCommand name="Customer_GetCustomerSkill" database="lawyers" commandType="Text">
    <commandText>
      <![CDATA[
             SELECT TOP 100 [Sysno]
            ,[Skill]
            ,[Status]
        FROM [dbo].[T_Customer_Skill] AS A WITH(NOLOCK)
        WHERE A.[Status] = 'A'
			]]>
    </commandText>
    <parameters>
    </parameters>
  </dataCommand>
  <!--设置领域-->
  <dataCommand name="Customer_SetCustomerSkill" database="lawyers" commandType="Text">
    <commandText>
      <![CDATA[
      IF @Sysno = 0
      BEGIN
        IF NOT EXISTS(SELECT 1 FROM [dbo].[T_Customer_Skill] AS A WITH(NOLOCK)
          WHERE A.[Skill] = @Skill AND A.[Status] = 'A')
          BEGIN
	          INSERT INTO [dbo].[T_Customer_Skill]
			             ([Skill]
			             ,[Status])
		           VALUES
			             (@Skill
			             ,@Status)
          END
      END ELSE BEGIN
          UPDATE [dbo].[T_Customer_Skill]
             SET [Skill] = @Skill
                ,[Status] = @Status
           WHERE [Sysno] = @Sysno
      END
			]]>
    </commandText>
    <parameters>
      <param name="@Skill" dbType="String"/>
      <param name="@Status" dbType="String"/>
      <param name="@Sysno" dbType="Int32"/>
    </parameters>

  </dataCommand>
  <!--添加用户-->
  <dataCommand name="Customer_AddCustomer" database="lawyers" commandType="Text">
    <commandText>
      <![CDATA[

          SET XACT_ABORT on
          BEGIN TRAN

          DECLARE @UserID INT =100001

          SELECT TOP 1 @UserID=([UserID]+1) FROM [dbo].[T_Customer] AS A
          ORDER BY A.[UserID] DESC

          INSERT INTO [dbo].[T_Customer]
                     ([UserID]
                     ,[Name]
                     ,[NickName]
                     ,[Face]
                     ,[Sex]
                     ,[BirthDay]
                     ,[Mobile]
                     ,[WexinNo]
                     ,[WexinQrcode]
                     ,[QQNo]
                     ,[Email]
                     ,[HomeTownCode]
                     ,[HomeTown]
                     ,[PCDCode]
                     ,[PCDDesc]
                     ,[Address]
                     ,[Job]
                     ,[Company]
                     ,[Signature]
                     ,[CustomerType]
                     ,[AuditStatus]
                     ,[Status]
                     ,[InDate]
                     ,[InUser]
                     ,[EditDate]
                     ,[EditUser])
               VALUES
                     (@UserID
                     ,@Name
                     ,@NickName
                     ,@Face
                     ,@Sex
                     ,@BirthDay
                     ,@Mobile
                     ,@WexinNo
                     ,@WexinQrcode
                     ,@QQNo
                     ,@Email
                     ,@HomeTownCode
                     ,@HomeTown
                     ,@PCDCode
                     ,@PCDDesc
                     ,@Address
                     ,@Job
                     ,@Company
                     ,@Signature
                     ,@CustomerType
                     ,@AuditStatus
                     ,'A'
                     ,GETDATE()
                     ,@InUser
                      ,GETDATE()
                     ,@InUser)

          INSERT INTO [dbo].[T_Customer_Lawyers]
                     ([UserID]
                     ,[Skills]
                     ,[CaseSeries]
                     ,[Subscribe]
                     ,[Resume]
                     ,[SortNo])
               VALUES
                     (@UserID
                     ,@Skills
                     ,@CaseSeries
                     ,@Subscribe
                     ,@Resume
                     ,9999)

          SELECT @UserID AS UserID
          COMMIT TRAN
			]]>
    </commandText>
    <parameters>
      <param name="@Name" dbType="String"/>
      <param name="@NickName" dbType="String"/>
      <param name="@Face" dbType="String"/>
      <param name="@Sex" dbType="Int32"/>
      <param name="@BirthDay" dbType="String"/>
      <param name="@Mobile" dbType="String"/>
      <param name="@WexinNo" dbType="String"/>
      <param name="@WexinQrcode" dbType="String"/>
      <param name="@QQNo" dbType="String"/>
      <param name="@Email" dbType="String"/>
      <param name="@HomeTownCode" dbType="String"/>
      <param name="@HomeTown" dbType="String"/>
      <param name="@PCDCode" dbType="String"/>
      <param name="@PCDDesc" dbType="String"/>
      <param name="@Address" dbType="String"/>
      <param name="@Job" dbType="String"/>
      <param name="@Company" dbType="String"/>
      <param name="@Signature" dbType="String"/>
      <param name="@CustomerType" dbType="Int32"/>
      <param name="@AuditStatus" dbType="Int32"/>
      <param name="@InUser" dbType="String"/>
      <param name="@Skills" dbType="String"/>
      <param name="@CaseSeries" dbType="String"/>
      <param name="@Subscribe" dbType="String"/>
      <param name="@Resume" dbType="String"/>
    </parameters>

  </dataCommand>
  <!--设置用户-->
  <dataCommand name="Customer_SetCustomer" database="lawyers" commandType="Text">
    <commandText>
      <![CDATA[

          SET XACT_ABORT on
          BEGIN TRAN

            UPDATE [dbo].[T_Customer]
               SET 
                   [Name] = @Name
                  ,[NickName] = @NickName
                  ,[Face] = @Face
                  ,[Sex] = @Sex
                  ,[BirthDay] = @BirthDay
                  ,[Mobile] = @Mobile
                  ,[WexinNo] = @WexinNo
                  ,[WexinQrcode] = @WexinQrcode
                  ,[QQNo] = @QQNo
                  ,[Email] = @Email
                  ,[HomeTownCode] = @HomeTownCode
                  ,[HomeTown] = @HomeTown
                  ,[PCDCode] = @PCDCode
                  ,[PCDDesc] = @PCDDesc
                  ,[Address] = @Address
                  ,[Job] = @Job
                  ,[Company] = @Company
                  ,[Signature] = @Signature
                  ,[CustomerType] = @CustomerType
                  ,[AuditStatus] = @AuditStatus
                  ,[EditDate] = GETDATE()
                  ,[EditUser] = @EditUser
             WHERE [UserID] = @UserID

            UPDATE [dbo].[T_Customer_Lawyers]
               SET [Skills] = @Skills
                  ,[CaseSeries] = @CaseSeries
                  ,[Subscribe] = @Subscribe
                  ,[Resume] = @Resume
             WHERE [UserID] = @UserID

          COMMIT TRAN
			]]>
    </commandText>
    <parameters>
      <param name="@UserID" dbType="Int32"/>
      <param name="@Name" dbType="String"/>
      <param name="@NickName" dbType="String"/>
      <param name="@Face" dbType="String"/>
      <param name="@Sex" dbType="Int32"/>
      <param name="@BirthDay" dbType="String"/>
      <param name="@Mobile" dbType="String"/>
      <param name="@WexinNo" dbType="String"/>
      <param name="@WexinQrcode" dbType="String"/>
      <param name="@QQNo" dbType="String"/>
      <param name="@Email" dbType="String"/>
      <param name="@HomeTownCode" dbType="String"/>
      <param name="@HomeTown" dbType="String"/>
      <param name="@PCDCode" dbType="String"/>
      <param name="@PCDDesc" dbType="String"/>
      <param name="@Address" dbType="String"/>
      <param name="@Job" dbType="String"/>
      <param name="@Company" dbType="String"/>
      <param name="@Signature" dbType="String"/>
      <param name="@CustomerType" dbType="Int32"/>
      <param name="@AuditStatus" dbType="Int32"/>
      <param name="@EditUser" dbType="String"/>
      <param name="@Skills" dbType="String"/>
      <param name="@CaseSeries" dbType="String"/>
      <param name="@Subscribe" dbType="String"/>
      <param name="@Resume" dbType="String"/>
    </parameters>

  </dataCommand>
  <!--设置用户排序-->
  <dataCommand name="Customer_SetCustomerSort" database="lawyers" commandType="Text">
    <commandText>
      <![CDATA[

         UPDATE [dbo].[T_Customer_Lawyers]
           SET [SortNo] = @SortNo
         WHERE [UserID] = @UserID
			]]>
    </commandText>
    <parameters>
      <param name="@SortNo" dbType="Int32"/>
      <param name="@UserID" dbType="Int32"/>
    </parameters>

  </dataCommand>
  <!--注册-->
  <dataCommand name="Customer_Register" database="lawyers" commandType="Text">
    <commandText>
      <![CDATA[
        
            SET XACT_ABORT on
            BEGIN TRAN

            DECLARE @UserID INT =100001

            SELECT TOP 1 @UserID=([UserID]+1) FROM [dbo].[T_Customer] AS A
            ORDER BY A.[UserID] DESC

            INSERT INTO [dbo].[T_Login]
                       ([UserID]
                       ,[Account]
                       ,[Mobile]
                       ,[Email]
                       ,[Password]
                       ,[QQAccount]
                       ,[WechatAccount]
                       ,[WeiboAccount]
                       ,[BaiduAccount]
                       ,[UserRoleID]
                       ,[UserFrom]
                       ,[UserStatus])
                 VALUES
                       (@UserID
                       ,@Account
                       ,@Mobile
                       ,@Email
                       ,@Password
                       ,@QQAccount
                       ,@WechatAccount
                       ,@WeiboAccount
                       ,@BaiduAccount
                       ,@UserRoleID
                       ,@UserFrom
                       ,@UserStatus)

            INSERT INTO [dbo].[T_Customer]
                     ([UserID]
                     ,[Name]
                     ,[NickName]
                     ,[Face]
                     ,[Sex]
                     ,[BirthDay]
                     ,[Mobile]
                     ,[WexinNo]
                     ,[WexinQrcode]
                     ,[QQNo]
                     ,[Email]
                     ,[HomeTownCode]
                     ,[HomeTown]
                     ,[PCDCode]
                     ,[PCDDesc]
                     ,[Address]
                     ,[Job]
                     ,[Company]
                     ,[Signature]
                     ,[CustomerType]
                     ,[AuditStatus]
                     ,[Status]
                     ,[InDate]
                     ,[InUser]
                     ,[EditDate]
                     ,[EditUser])
               VALUES
                     (@UserID
                     ,@Name
                     ,@NickName
                     ,@Face
                     ,@Sex
                     ,@BirthDay
                     ,@Mobile
                     ,''
                     ,''
                     ,''
                     ,''
                     ,''
                     ,''
                     ,''
                     ,''
                     ,''
                     ,''
                     ,''
                     ,''
                     ,@CustomerType
                     ,@AuditStatus
                     ,'A'
                     ,GETDATE()
                     ,@InUser
                      ,GETDATE()
                     ,@InUser)

           
              --重新查询返回
               SELECT A.[UserID]
              ,A.[UserRoleID]
              ,A.[UserStatus]
	            ,B.[AuditStatus]
	            ,B.[Name]
              ,B.[NickName]
              ,B.[Face]
              ,B.[CustomerType]
        FROM [dbo].[T_Login] AS A 
        JOIN [dbo].[T_Customer] AS B ON A.UserID =B.UserID
        WHERE A.[UserID] = @UserID
        
            COMMIT TRAN
			]]>
    </commandText>
    <parameters>
      <param name="@Account" dbType="String" />
      <param name="@Email" dbType="String" />
      <param name="@Password" dbType="String" />
      <param name="@QQAccount" dbType="String" />
      <param name="@WechatAccount" dbType="String" />
      <param name="@WeiboAccount" dbType="String" />
      <param name="@BaiduAccount" dbType="String" />
      <param name="@UserRoleID" dbType="String" />
      <param name="@UserFrom" dbType="String" />
      <param name="@UserStatus" dbType="String" />
      <param name="@Name" dbType="String"/>
      <param name="@Mobile" dbType="String"/>
      <param name="@NickName" dbType="String"/>
      <param name="@Face" dbType="String"/>
      <param name="@Sex" dbType="Int32"/>
      <param name="@BirthDay" dbType="String"/>
      <param name="@CustomerType" dbType="Int32"/>
      <param name="@AuditStatus" dbType="Int32"/>
      <param name="@InUser" dbType="String"/>
    </parameters>
  </dataCommand>

</dataOperations>