<?xml version="1.0" encoding="utf-8" ?>
<dataOperations xmlns="http://www.valondress.com/DataOperation">

  <!--获取用户信息，平台方管理-->
  <dataCommand name="Consultation_GetList" database="lawyers" commandType="Text">
    <commandText>
      <![CDATA[
        DECLARE @SelectSql NVARCHAR(4000)
        DECLARE @CountSql NVARCHAR(4000)
        DECLARE @WhereSql NVARCHAR(2000)
	      --设置排序条件
        IF @SortField IS NULL OR LEN(@SortField)=0
		      BEGIN
			      SET @SortField = N'A.[Sysno]' 
			      SET @SortType = N'DESC' 
		      END
        --设置查询条件
        SET @WhereSql=N' WHERE A.[Status] = ''A'' '
        
        IF @ToLawyer > 0 
          SET @WhereSql+=N' AND A.[ToLawyer] = @ToLawyer '
         
        IF LEN(@LawyerName) > 1 
          SET @WhereSql+=N' AND B.[Name] like @LawyerName '
          
        IF LEN(@Mobile) > 0 
          SET @WhereSql+=N' AND A.[Mobile] = @Mobile '
          
        IF LEN(@StartDate) > 4
          SET @WhereSql+=N' AND A.[InDate] >= @StartDate '
       
        IF LEN(@EndDate) > 4
          SET @WhereSql+=N' AND A.[InDate] <= @EndDate '
        
        IF @ConStatus > 0 
          SET @WhereSql+=N' AND A.[ConStatus] = @ConStatus '
          
          
        SET @SelectSql=N'
            SELECT TOP(@PageSize)
                           TT.RowId,TT.[Sysno]
                                ,TT.[Mobile]
                                ,TT.[ToLawyer]
                                ,TT.[LawyerName]
                                ,TT.[LawyerFace]
                                ,TT.[Contents]
                                ,TT.[ConStatus]
                                ,TT.[InDate]
                                ,TT.[CustomerFace] 
                                ,TT.[CustomerName]
                                ,TT.[Reply]
          FROM(SELECT ROW_NUMBER() OVER(ORDER BY '+ @SortField +' '+ @SortType +') AS RowId,A.[Sysno],A.[Mobile]
	                      ,A.[CustomerFace]
                          ,A.[ToLawyer]
                          ,A.[Contents]
                          ,A.[ConStatus]
                          ,A.[InDate]
                          ,A.[InUser] AS [CustomerName]
	                      ,B.Face AS [LawyerFace]
	                      ,B.Name AS [LawyerName]
                        ,A.Reply
                      FROM [dbo].[T_Consultation] AS A WITH(NOLOCK)
                      LEFT JOIN [dbo].[T_Customer] AS B WITH(NOLOCK) ON A.ToLawyer = B.UserID
                      ' + @WhereSql+ N') TT WHERE TT.RowId > @PageSize * @PageCurrent'
        
        SET @CountSql = N'SELECT @TotalCount=COUNT(1)  FROM [dbo].[T_Consultation] AS A WITH(NOLOCK) 
        LEFT JOIN [dbo].[T_Customer] AS B WITH(NOLOCK) ON A.ToLawyer = B.UserID '+@WhereSql
        
        EXEC sp_executesql @SelectSql,
              N'@ToLawyer INT,@LawyerName NVARCHAR(50),@Mobile NVARCHAR(20),
                @StartDate NVARCHAR(23),@EndDate NVARCHAR(23),@ConStatus INT,
                @SortType NVARCHAR(50),
		            @SortField NVARCHAR(50),
		            @PageSize INT,
		            @PageCurrent INT',
                
                @ToLawyer,@LawyerName,@Mobile,@StartDate,@EndDate,@ConStatus,
		            @SortType,
		            @SortField,
		            @PageSize,
		            @PageCurrent
        EXEC sp_executesql @CountSql,
              N'@ToLawyer INT,@LawyerName NVARCHAR(50),@Mobile NVARCHAR(20),
                @StartDate NVARCHAR(23),@EndDate NVARCHAR(23),@ConStatus INT,
                @TotalCount INT OUTPUT',
                
                @ToLawyer,@LawyerName,@Mobile,@StartDate,@EndDate,@ConStatus,
                @TotalCount OUTPUT
			]]>
    </commandText>
    <parameters>
      <param name="@ToLawyer" dbType="Int32" />
      <param name="@LawyerName" dbType="String" />
      <param name="@Mobile" dbType="String" />
      <param name="@StartDate" dbType="String" />
      <param name="@EndDate" dbType="String" />
      <param name="@ConStatus" dbType="Int32" />

      <param name="@SortType" dbType="String" />
      <param name="@SortField" dbType="String"/>
      <param name="@PageSize" dbType="Int32" />
      <param name="@PageCurrent" dbType="Int32"/>
      <param name="@TotalCount" dbType="Int32" direction="Output"/>
    </parameters>
  </dataCommand>

  <dataCommand name="Consultation_Add" database="lawyers" commandType="Text">
    <commandText>
      <![CDATA[
            INSERT INTO [dbo].[T_Consultation]
               ([Mobile]
               ,[ToLawyer]
               ,[Contents]
               ,[ConStatus]
               ,[UserID]
               ,[CustomerFace]
               ,[Status]
               ,[InDate]
               ,[InUser]
               ,[EditDate]
               ,[EditUser])
         VALUES
               (@Mobile
               ,@ToLawyer
               ,@Contents
               ,@ConStatus
               ,@UserID
               ,@CustomerFace
               ,'A'
               ,GETDATE()
               ,@InUser
               ,GETDATE()
               ,@InUser)
			]]>
    </commandText>
    <parameters>
      <param name="@Mobile" dbType="String" />
      <param name="@ToLawyer" dbType="Int32" />
      <param name="@Contents" dbType="String" />
      <param name="@ConStatus" dbType="Int32" />
      <param name="@UserID" dbType="Int32" />
      <param name="@CustomerFace" dbType="String" />
      <param name="@InUser" dbType="String" />

    </parameters>
  </dataCommand>

  <dataCommand name="Consultation_SetStatus" database="lawyers" commandType="Text">
    <commandText>
      <![CDATA[
           UPDATE [dbo].[T_Consultation]
               SET [ConStatus] = @ConStatus
                  ,[EditDate] = GETDATE()
                  ,[EditUser] = @EditUser
             WHERE [Sysno] = @Sysno
			]]>
    </commandText>
    <parameters>
      <param name="@Sysno" dbType="Int32" />
      <param name="@EditUser" dbType="String" />
      <param name="@ConStatus" dbType="Int32" />

    </parameters>
  </dataCommand>

  <dataCommand name="Consultation_GetUserCon" database="lawyers" commandType="Text">
    <commandText>
      <![CDATA[
          SELECT TOP 10    A.[Sysno]
                          ,A.[Mobile]
                          ,A.[ToLawyer]
                          ,A.[Contents]
                          ,A.[ConStatus]
                          ,A.[InDate]
                          ,A.[InUser] AS [CustomerName]
	                        ,B.Face AS [LawyerFace]
	                        ,B.Name AS [LawyerName]
                      FROM [dbo].[T_Consultation] AS A WITH(NOLOCK)
                      LEFT JOIN [dbo].[T_Customer] AS B WITH(NOLOCK) ON A.ToLawyer = B.UserID
                      WHERE A.[Status] = 'A' AND A.[UserID] = @UserID
                      ORDER BY [Sysno] DESC
			]]>
    </commandText>
    <parameters>
      <param name="@UserID" dbType="Int32" />

    </parameters>
  </dataCommand>

  <dataCommand name="Consultation_SetReply" database="lawyers" commandType="Text">
    <commandText>
      <![CDATA[
           INSERT INTO [dbo].[T_Consultation_Reply]
               ([ConsultationID]
               ,[ReplyUser]
               ,[ReplyContent]
               ,[IsRead]
               ,[Status]
               ,[InDate]
               ,[InUser]
               ,[EditDate]
               ,[EditUser])
         VALUES
               (@ConsultationID
               ,@ReplyUser
               ,@ReplyContent
               ,0
               ,'A'
               ,GETDATE()
               ,@InUser
               ,GETDATE()
               ,@InUser)


    UPDATE [dbo].[T_Consultation]
       SET [ConStatus] = 10
          ,[Reply] = @Reply
     WHERE [Sysno] = @ConsultationID
			]]>
    </commandText>
    <parameters>
      <param name="@ConsultationID" dbType="Int32" />
      <param name="@ReplyUser" dbType="Int32" />
      <param name="@ReplyContent" dbType="String" />
      <param name="@InUser" dbType="String" />
      <param name="@Reply" dbType="String" />
    </parameters>
  </dataCommand>

  <dataCommand name="Consultation_SetReplyReadStat" database="lawyers" commandType="Text">
    <commandText>
      <![CDATA[
      UPDATE [dbo].[T_Consultation_Reply]
         SET [IsRead] = 1
            ,[EditDate] = GETDATE()
            ,[EditUser] = @EditUser
       WHERE [Sysno] = @Sysno
			]]>
    </commandText>
    <parameters>
      <param name="@EditUser" dbType="Int32" />
      <param name="@Sysno" dbType="String" />
    </parameters>
  </dataCommand>
  <!--获取用户留言-->
  <dataCommand name="Consultation_GetReply" database="lawyers" commandType="Text">
    <commandText>
      <![CDATA[
           SELECT TOP 1 A.[Sysno]
            ,A.[Mobile]
            ,A.[ToLawyer]
            ,A.[Contents]
            ,A.[ConStatus]
            ,A.[InDate]
	        ,B.Name AS LawyerName
	        ,B.Mobile AS LawyerMobile
	        ,C.ReplyContent
        FROM [lawyers].[dbo].[T_Consultation] AS A WITH(NOLOCK)
        LEFT JOIN [dbo].[T_Customer] AS B WITH(NOLOCK) ON A.ToLawyer = B.UserID
        LEFT JOIN [dbo].[T_Consultation_Reply] AS C WITH(NOLOCK) ON A.Sysno = C.ConsultationID
        WHERE A.Sysno = @Sysno
			]]>
    </commandText>
    <parameters>
      <param name="@Sysno" dbType="String" />
    </parameters>
  </dataCommand>
  <!--获取留言用户信息-->
  <dataCommand name="Consultation_GetConUser" database="lawyers" commandType="Text">
    <commandText>
      <![CDATA[
          SELECT TOP 1 A.[Sysno]
                  ,A.[ToLawyer]
				  ,B.Name AS LawyerName
				  ,B.Mobile AS LawyerMobile
                  ,A.Mobile
	              ,C.WechatAccount
				  ,A.Contents
				  ,A.Reply
              FROM [lawyers].[dbo].[T_Consultation] AS A WITH(NOLOCK)
			  LEFT JOIN [dbo].[T_Customer] AS B WITH(NOLOCK) ON A.ToLawyer = B.UserID
             JOIN [dbo].[T_Login] AS C WITH(NOLOCK) ON A.UserID = C.UserID
             WHERE A.[Sysno] = @Sysno AND A.Status = 'A'
			]]>
    </commandText>
    <parameters>
      <param name="@Sysno" dbType="Int32" />
    </parameters>
  </dataCommand>

</dataOperations>